/* Ẩn thanh cuộn khi chuột không ở trong vùng cuộn */

.custom-scrollbar::-webkit-scrollbar {
  width: 0; /* Ẩn thanh cuộn trên Chrome, Safari và Edge */
  height: 0;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 8px; /* Hiện thanh cuộn khi chuột ở trong vùng cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bdbcbc; /* Màu của thanh cuộn */
  border-radius: 4px; /* Bo góc thanh cuộn */
}

